extends base
include mixins/picture

block content
    #contenedor
        section#s1
            div.container
                div.row
                    div.col-sm-3
                        - for (var i = 0; i < 3; ++i) {
                            +picture(pics[i].image, pics[i].color, pics[i].title, pics[i].price)
                        - }
                    div.col-sm-3.col-md-offset-1
                         - for (var i = 3; i < 6; ++i) {
                            +picture(pics[i].image, pics[i].color, pics[i].title, pics[i].price)
                         - }
                    div.col-sm-3.col-md-offset-1
                         - for (var i = 6; i < 9; ++i) {
                            +picture(pics[i].image, pics[i].color, pics[i].title, pics[i].price)
                         - }


//block content
    .jumbotron
        h1 Benvingut a la meva botiga online!
        a.btn.btn-primary.btn-lg(href='#', role='button') Veure les ofertes
    div.row
        - for (var i = 0; i < 9; ++i) {
            +picture(pics[i].image, pics[i].getPrice())
        - }

    // div.col-sm-4
         - for (var i = 3; i < 6; ++i) {
         +picture(pics[i].image, pics[i].color, pics[i].title, pics[i].price)
         - }
    // div.col-sm-4
         - for (var i = 6; i < 9; ++i) {
         +picture(pics[i].image, pics[i].color, pics[i].title, pics[i].price)
         - }